<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="http://pngimg.com/uploads/carrot/carrot_PNG4997.png" type="image/x-icon" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>兔の日本語</title>
    
</head>

<body ontouchstart="" onmouseover="">
    <div class="app">
        <section>
            <div class="les">
                <a>
                    <h1>{{input.lesson}}</h1>
                </a>
            </div>
            <div class="top">
                <div class="rab2"></div>兔の日本語
            </div>
            <div class="container">
                <div class="title2">
                    <div class="input form-inline">
                        <div class="row">
                            <select v-model='input.lesson' class="slect form-control">
                                <option>看全部單元</option>
                                <option>第一單元</option>
                                <option>第二單元</option>
                                <option>第三單元</option>
                                <option>第四單元</option>
                                <option>第五單元</option>
                            </select>
                            <input class='filter form-control' type="text" v-model.trim='input.chinese' placeholder="中文-可搜全單元">
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <div class="up">
                        <span class="number1">No.</span>
                        <span class="type1">漢字</span>
                        <span class="title1">純假名</span>
                        <span class="chinese1">中文</span>
                    </div>
                    <div class="menuItem" v-for='(item,index) in titleMenu'>
                        <span class="number">{{index +1}}</span>
                        <span class="type">{{item.type}}</span>
                        <span class="title">{{item.tittle}}</span>
                        <button class='chinese'><span>{{item.chinese}}</span></button>
                    </div>
                </div>
                <div class="ad">
                    <div class="can" @click='doClick()' v-if='isShow'>X</div>
                    <div class="rab" v-if='isShow'></div>
                    <a href="https://dylantsouy.github.io/jplearn/" target="_blank">
                        <div class="link" v-if='isShow'>單字卡連結</div>
                    </a>
                </div>
                <footer>Design by Dylan</footer>
                <label for="toggle"><img class='rab3' src='img/rabbit_PNG3802.png'>五十音</label>
                <input type="checkbox" id="toggle">
                <aside>
                    <table>
                        <tr>
                            <th>あ行</th>
                            <td>あ アa</td>
                            <td>か カka</td>
                            <td>さ サsa</td>
                            <td>た タta</td>
                            <td>な ナna</td>
                            <td>は ハha</td>
                            <td>ま マma</td>
                            <td>や ヤya</td>
                            <td>ら ラra</td>
                            <td>わ ワwa</td>
                        </tr>
                        <tr>
                            <th>い行</th>
                            <td>い イi</td>
                            <td>き キki</td>
                            <td>し シsi</td>
                            <td>ち チchi</td>
                            <td>に ニni</td>
                            <td>ひ ヒhi</td>
                            <td>み ミmi</td>
                            <td></td>
                            <td>り リri</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>う行</th>
                            <td>う ウu</td>
                            <td>く クku</td>
                            <td>す スsu</td>
                            <td>つ ツtsu</td>
                            <td>ぬ ヌnu</td>
                            <td>ふ フhu</td>
                            <td>む ムmu</td>
                            <td>ゆ ユyu</td>
                            <td>る ルru</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>え行</th>
                            <td>え エe</td>
                            <td>け ケke</td>
                            <td>せ セse</td>
                            <td>て テte</td>
                            <td>ね ネne</td>
                            <td>へ ヘhe</td>
                            <td>め メme</td>
                            <td></td>
                            <td>れ レre</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>お行</th>
                            <td>お オo</td>
                            <td>こ コko</td>
                            <td>そ ソso</td>
                            <td>と トto</td>
                            <td>の ノno</td>
                            <td>ほ ホho</td>
                            <td>も モmo</td>
                            <td>よ ヨyo</td>
                            <td>ろ ロro</td>
                            <td>ん ンn</td>
                        </tr>
                    </table>
                </aside>
            </div>
        </section>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js'></script>
    <script>
    </script>
    <script>
        let data = {
            isShow: true,
            index: 0,
            input: {
                lesson: '第一單元',
                type: '',
                tittle: '',
                chinese: '',
                linka: '',
            },
            menu: [{
                    lesson: '第一單元',
                    type: '',
                    tittle: '第一單元',
                    chinese: '',
                }, {
                    lesson: '第一單元',
                    type: '私',
                    tittle: 'わたし',
                    chinese: '我',
                },
                {
                    lesson: '第一單元',
                    type: '学生',
                    tittle: 'がくせい',
                    chinese: '學生',
                },
                {
                    lesson: '第一單元',
                    type: '嬉しい',
                    tittle: 'うれしい',
                    chinese: '開心',
                },
                {
                    lesson: '第一單元',
                    type: '犬',
                    tittle: 'いぬ',
                    chinese: '小狗',
                },
                {
                    lesson: '第一單元',
                    type: '賑やか',
                    tittle: 'にぎやか',
                    chinese: '熱鬧',
                },
                {
                    lesson: '第一單元',
                    type: '夜市',
                    tittle: 'よいち',
                    chinese: '夜市',
                },
                {
                    lesson: '第一單元',
                    type: '寒い',
                    tittle: 'さむい',
                    chinese: '冷',
                },
                {
                    lesson: '第一單元',
                    type: '今日',
                    tittle: 'きょう',
                    chinese: '今天',
                },
                {
                    lesson: '第一單元',
                    type: '大きい',
                    tittle: 'おおきい',
                    chinese: '大的',
                },
                {
                    lesson: '第一單元',
                    type: 'ご飯',
                    tittle: 'ごはん',
                    chinese: '飯',
                },
                {
                    lesson: '第一單元',
                    type: '食べる',
                    tittle: 'たべる',
                    chinese: '吃飯',
                },
                {
                    lesson: '第一單元',
                    type: '猫',
                    tittle: 'ねこ',
                    chinese: '貓',
                },
                {
                    lesson: '第一單元',
                    type: '寝る',
                    tittle: 'ねる',
                    chinese: '睡覺',
                },
                {
                    lesson: '第一單元',
                    type: 'コップ',
                    tittle: 'コップ',
                    chinese: '杯子',
                },
                //           第二單元      //
                {
                    lesson: '第二單元',
                    type: '',
                    tittle: '第二單元',
                    chinese: '',
                },
                {
                    lesson: '第二單元',
                    type: '何',
                    tittle: 'なん',
                    chinese: '什麼',
                },
                {
                    lesson: '第二單元',
                    type: '彼',
                    tittle: 'かれ',
                    chinese: '他',
                },
                {
                    lesson: '第二單元',
                    type: 'はい',
                    tittle: 'はい',
                    chinese: '是的',
                },
                {
                    lesson: '第二單元',
                    type: 'いいえ',
                    tittle: 'いいえ',
                    chinese: '不是的',
                },
                {
                    lesson: '第二單元',
                    type: 'これ',
                    tittle: 'これ',
                    chinese: '這個',
                },
                {
                    lesson: '第二單元',
                    type: 'それ',
                    tittle: 'それ',
                    chinese: '那個',
                },
                {
                    lesson: '第二單元',
                    type: 'あれ',
                    tittle: 'あれ',
                    chinese: '那一個',
                },
                {
                    lesson: '第二單元',
                    type: 'どれ',
                    tittle: 'どれ',
                    chinese: '哪個',
                },
                {
                    lesson: '第二單元',
                    type: 'ここ',
                    tittle: 'ここ',
                    chinese: '這裡',
                },
                {
                    lesson: '第二單元',
                    type: 'そこ',
                    tittle: 'そこ',
                    chinese: '那裡',
                },
                {
                    lesson: '第二單元',
                    type: 'あそこ',
                    tittle: 'あそこ',
                    chinese: '那～裡',
                },
                {
                    lesson: '第二單元',
                    type: 'どこ',
                    tittle: 'どこ',
                    chinese: '哪裡',
                },
                // 第三單元 //
                {
                    lesson: '第三單元',
                    type: '',
                    tittle: '第三單元',
                    chinese: '',
                },
                {
                    lesson: '第三單元',
                    type: '社長',
                    tittle: 'しゃちょう',
                    chinese: '總經理',
                },
                {
                    lesson: '第三單元',
                    type: '社員',
                    tittle: 'しゃいん',
                    chinese: '職員',
                },
                {
                    lesson: '第三單元',
                    type: '先生',
                    tittle: 'せんせい',
                    chinese: '老師',
                },
                {
                    lesson: '第三單元',
                    type: '教師',
                    tittle: 'きょうし',
                    chinese: '自称老師',
                },
                {
                    lesson: '第三單元',
                    type: '病院',
                    tittle: 'びょういん',
                    chinese: '醫院',
                },
                {
                    lesson: '第三單元',
                    type: '喫茶店',
                    tittle: 'きっさてん',
                    chinese: '咖啡廳',
                },
                {
                    lesson: '第三單元',
                    type: '学校',
                    tittle: 'がっこう',
                    chinese: '學校',
                },
                {
                    lesson: '第三單元',
                    type: 'ジュース',
                    tittle: 'ジュース',
                    chinese: '果汁',
                },
                {
                    lesson: '第三單元',
                    type: '小説',
                    tittle: 'しょうせつ',
                    chinese: '小說',
                },
                {
                    lesson: '第三單元',
                    type: 'ノート',
                    tittle: 'ノート',
                    chinese: '筆記本',
                },
                {
                    lesson: '第三單元',
                    type: '車',
                    tittle: 'くるま',
                    chinese: '車子',
                },
                // 第四單元 //
                {
                    lesson: '第四單元',
                    type: '',
                    tittle: '第四單元',
                    chinese: '',
                },
                {
                    lesson: '第四單元',
                    type: '朝',
                    tittle: 'あさ',
                    chinese: '早上',
                },
                {
                    lesson: '第四單元',
                    type: '昼',
                    tittle: 'ひる',
                    chinese: '下午',
                },
                {
                    lesson: '第四單元',
                    type: '夜',
                    tittle: 'よる',
                    chinese: '晩上',
                },
                {
                    lesson: '第四單元',
                    type: 'おはよう',
                    tittle: 'おはよう',
                    chinese: '早上好',
                },
                {
                    lesson: '第四單元',
                    type: 'こんにちは',
                    tittle: 'こんにちは',
                    chinese: '中午好',
                },
                {
                    lesson: '第四單元',
                    type: 'こんばんは',
                    tittle: 'こんばんは',
                    chinese: '晚上好',
                },
                {
                    lesson: '第四單元',
                    type: '午前',
                    tittle: 'ごぜん',
                    chinese: '上午',
                },
                {
                    lesson: '第四單元',
                    type: '午後',
                    tittle: 'ごご',
                    chinese: '下午',
                },
                {
                    lesson: '第四單元',
                    type: 'すみません',
                    tittle: 'すみません',
                    chinese: '不好意思',
                },
                {
                    lesson: '第四單元',
                    type: '今',
                    tittle: 'いま',
                    chinese: '現在',
                },
                {
                    lesson: '第四單元',
                    type: '家',
                    tittle: 'うち',
                    chinese: '家',
                },
                {
                    lesson: '第四單元',
                    type: '何時',
                    tittle: 'なんじ',
                    chinese: '幾點',
                },
                {
                    lesson: '第四單元',
                    type: 'から',
                    tittle: 'から',
                    chinese: '從～',
                },
                {
                    lesson: '第四單元',
                    type: 'まで',
                    tittle: 'まで',
                    chinese: '到～',
                },
                // 第五單元 //
                {
                    lesson: '第五單元',
                    type: '',
                    tittle: '第五單元',
                    chinese: '',
                },
                {
                    lesson: '第五單元',
                    type: '一時',
                    tittle: 'いちじ',
                    chinese: '一點',
                },
                {
                    lesson: '第五單元',
                    type: '二時',
                    tittle: 'にじ',
                    chinese: '兩點',
                },
                {
                    lesson: '第五單元',
                    type: '三時',
                    tittle: 'さんじ',
                    chinese: '三點',
                },
                {
                    lesson: '第五單元',
                    type: '四時',
                    tittle: 'よじ',
                    chinese: '四點',
                },
                {
                    lesson: '第五單元',
                    type: '五時',
                    tittle: 'ごじ',
                    chinese: '五點',
                },
                {
                    lesson: '第五單元',
                    type: '六時',
                    tittle: 'ろくじ',
                    chinese: '六點',
                },
                {
                    lesson: '第五單元',
                    type: '七時',
                    tittle: 'しちじ',
                    chinese: '七點',
                },
                {
                    lesson: '第五單元',
                    type: '八時',
                    tittle: 'はちじ',
                    chinese: '八點',
                },
                {
                    lesson: '第五單元',
                    type: '九時',
                    tittle: 'くじ',
                    chinese: '九點',
                },
                {
                    lesson: '第五單元',
                    type: '十時',
                    tittle: 'じゅうじ',
                    chinese: '十點',
                },
                {
                    lesson: '第五單元',
                    type: '十一時',
                    tittle: 'じゅういちじ',
                    chinese: '十一點',
                },
                {
                    lesson: '第五單元',
                    type: '十二時',
                    tittle: 'じゅうにじ',
                    chinese: '十二點',
                },
                {
                    lesson: '第五單元',
                    type: '一分',
                    tittle: 'いっぷん',
                    chinese: '一分',
                },
                {
                    lesson: '第五單元',
                    type: '二分',
                    tittle: 'にふん',
                    chinese: '二分',
                },
                {
                    lesson: '第五單元',
                    type: '三分',
                    tittle: 'さんぷん',
                    chinese: '三分',
                },
                {
                    lesson: '第五單元',
                    type: '四分',
                    tittle: 'よんぷん',
                    chinese: '四分',
                },
                {
                    lesson: '第五單元',
                    type: '五分',
                    tittle: 'ごふん',
                    chinese: '五分',
                },
                {
                    lesson: '第五單元',
                    type: '六分',
                    tittle: 'ろっぷん',
                    chinese: '六分',
                },
                {
                    lesson: '第五單元',
                    type: '七分',
                    tittle: 'ななふん',
                    chinese: '七分',
                },
                {
                    lesson: '第五單元',
                    type: '八分',
                    tittle: 'はっぷん',
                    chinese: '八分',
                },
                {
                    lesson: '第五單元',
                    type: '九分',
                    tittle: 'きゅうふん',
                    chinese: '九分',
                },
                {
                    lesson: '第五單元',
                    type: '十分',
                    tittle: 'じっぷん',
                    chinese: '十分',
                },
                {
                    lesson: '第五單元',
                    type: '十一分',
                    tittle: 'じゅういっぷん',
                    chinese: '十一分',
                },
                {
                    lesson: '第五單元',
                    type: '十二分',
                    tittle: 'じゅうにふん',
                    chinese: '十二分',
                },
                {
                    lesson: '第五單元',
                    type: '時半',
                    tittle: 'じはん',
                    chinese: '點半',
                },
            ]
        }
        var app = new Vue({
            el: '.app',
            data: data,
            methods: {
                doClick(isShow) {
                    return this.isShow = false;
                }
            },
            computed: {
                typeMenu() {
                    if (this.input.lesson !== '看全部單元') {
                        return this.menu.filter(item => {
                            return item.lesson === this.input.lesson
                        })
                    } else {
                        return this.menu
                    }
                },
                titleMenu() {
                    if (this.input.chinese) {
                        return this.menu.filter(item => {
                            let content = item.chinese.toLowerCase()
                            let keyword = this.input.chinese.toLowerCase()
                            return content.includes(keyword)
                        })
                    } else {
                        return this.typeMenu
                    }
                },
            },
        })

    </script>
</body>

</html>
